<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>esewa</title>
</head>
<body>
    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
        <label for="">amount</label>
        <input type="text" id="amount" name="amount" value="100" required>
        <label for="">tax amount</label>
        <input type="text" id="tax_amount" name="tax_amount" value ="10" required>
        <label for="">total amount</label>
        <input type="text" id="total_amount" name="total_amount" value="110" required>
        <label for="">uuid</label>
        <input type="text" id="transaction_uuid" name="transaction_uuid" value="241028" required>
        <label for="">product code</label>
        <input type="text" id="product_code" name="product_code" value ="EPAYTEST" required>
        <label for="">product charge</label>
        <input type="text" id="product_service_charge" name="product_service_charge" value="0" required>
        <label for="">delivery charge</label>
        <input type="text" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
        <label for="">success uri</label>
        <input type="text" id="success_url" name="success_url" value="https://esewa.com.np" required>
        <label for="">failure uri</label>
        <input type="text" id="failure_url" name="failure_url" value="https://google.com" required>
        <label for="">signed field name</label>
        <input type="text" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" required>
        <label for="">signature</label>
        <input type="text" id="signature" name="signature" value="i94zsd3oXF6ZsSr/kGqT4sSzYQzjj1W/waxjWyRwaME=" required>
        <input value="Submit" type="submit">
        </form>
</body>
</html>